@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF3C7;
    color: #FEC7B4;
    overflow: hidden;
}

a:link {
    color: #FC819E;
    text-decoration: none;
}

a:visited {
    color: #FC819E;
    text-decoration: none;
}

a:hover {
    color: #F7418F;
    text-decoration: none;
    transform: translateY(-5px);

}

nav {
    position: right;
    margin-left: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container {
    padding: 10px 10%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #112A46;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #3c85a2;
    position: absolute;
    left: 0px;
    bottom: -6px;
    transition: .5s;
}

nav ul li a:hover::after {
    width: 100%;
    transform: translateY(-3px);
}

#rocket {
    position: fixed;
    bottom: -1000px;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 1000px;
}

/* Style for the smoke particles */
.smoke-particle {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 100%;
    margin-top: 100%;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide {
    float: left;
    justify-content: center;
    margin-left: 25%;
    width: 75%;
}

img {
    max-width: 75em;
    justify-content: center;
}